/* body {
  background-image: url("assets/billy-huynh-v9bnfMCyKbg-unsplash.jpg")
}

.img {
  background-repeat: no-repeat;
  background-size: cover;
  height:100px;
} */

h1 {
  text-align: center;
  text-decoration: double;
  size: 500px;
}

h1, h2, h3 {
  color: rgb(2, 85, 2);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500px;
}